.cta {
    text-align: center;
    padding: 3.5rem 0;

    @media only screen and (max-width: $bp-medium) {
        padding: 2.5rem 0;
    }
    
    &__paragraph {
        color: var(--color-primary);
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }

    &__btn {
        text-transform: uppercase;
        border: none;
        position: relative;

        border-radius: 50px;
        color: white;
        overflow: hidden;
        background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-light));
        
        &:hover {
            cursor: pointer;
            background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
        }

        &:focus {
            animation: pulsate 1s infinite;
        }

        & > * {
            display: inline-block;
            transition: all .3s;
        }
        
        &-initial {
            padding: 2rem 7.5rem;
        }

        &:hover &-initial {
            transform: translateY(100%);
        }

        &-hover {
            padding: 2rem 0;
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: -100%;
        }

        &:hover &-hover {
            top: 0;
        }
    }
}