.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review {
    background-color: white;
    box-shadow: var(--shadow-light);
    
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;

    overflow: hidden;

    @media only screen and (max-width: $bp-medium) {
        margin-bottom: 2rem;
        padding: 3rem;
    }

    &__text {
        margin-bottom: 2rem;
        z-index: 10;
        position: relative;
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__photo {
        height: 4.5rem;
        border-radius: 50%;
    }

    &__name-date-box {
        margin-left: 1.5rem;
        margin-right: auto;
    }

    &__user-name {
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: .4rem;
    }

    &__date {
        font-size: 1rem;
        color: var(--color-grey-dark-3);
    }

    &__grade {
        color: var(--color-primary);
        font-size: 2.25rem;
        font-weight: 300;
    }

    &::before{
        content: "\201C";
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        font-size: 20rem;
        color: var(--color-grey-light-2);
        font-family: sans-serif;
        line-height: 1;
        z-index: 1;
    }
}